.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-image img {
    width: 20em;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

.card-description {
    font-weight: 300;
    font-size: 1em;
}

.card-button {
    background-color: #ff6347; /* Tomato color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.card-button svg {
    margin-left: 5px;
}
